@page
@model Veeggan.Pages.Admin.Categories.DeleteModel

<!--This is a FORM page can be linked to Categories so the button can work-->


<form method="post">
    <!-- we add a hidden input field so the ID can be populated to prevent the edit from not changing-->
    <input hidden asp-for="Category.Id" />



    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3"> Delete Category</h2>
        </div>

        <!--Creating custom validations-->
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" disabled class="form-control"/>

       
        </div>
         <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control"/>

   
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>

         <!--TAG HELPER TO CHANGE PAGE BACK TO LIST-->
@*        <a asp-page="../Index" class="btn btn-info" style="width:150px;"> Back To List </a>
         THis GOES BACK TO HOME WITH ../Index

*@        <a asp-page="../Index" class="btn btn-info" style="width:150px;"> Back To List </a>

    </div>
</form>




<!--We use the partial view from partials folder for client side validation means it will not reload -->
<!-- Razor pages an handle JS and C# -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}